*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}
.container{
    max-width: 1318px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}