.product_cards{
    &_btn{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        button{
            border: 1px solid #B88E2F;
            color: #B88E2F;
            background: none;
            width: 245px;
            height: 48px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #B88E2F;
                color: #fff;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
                transform: translateY(-3px);
            }
        
            &:active {
                transform: translateY(0); 
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); 
            }
        }
    }
    .product_title{
        h2{
            text-align: center;
            font-size: 36px;
            font-weight: 500;
        }
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;
        .card{
            width: 285px;
            height: 446px;
            background: #F4F5F7;
            margin-top: 20px;

            .price{
                display: flex;
                margin-top: 10px;
            }
            .h2{
                font-size: 24px;
                font-weight: 500;
            }
            h3, p, h4, h2{
                padding: 0 20px;
            }
            p{
                color: #898989;
            }
            
        }
    }
}