.footer {
    padding: 40px 0;
    border-top: 1px solid #e0e0e0;
  
    &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    &__column {
      flex: 1;
      min-width: 200px;

  
      h2, h3 {
        font-size: 18px;
        margin-bottom: 20px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
        }
  
        a {
          text-decoration: none;
          color: #333;
          font-size: 16px;
          transition: color 0.3s ease;
  
          &:hover {
            color: #B88E2F;
          }
        }
      }
    }
  
    &__address {
      address {
        font-style: normal;
        color: #666;
        font-size: 16px;
        line-height: 1.6;
      }
    }
  
    &__newsletter {
      form {
        display: flex;
  
        input {
          padding: 10px;
          border: 1px solid #333;
          border-right: none;
          font-size: 14px;
          flex: 1;
          outline: none;
          color: #666;
        }
  
        button {
          padding: 10px 20px;
          background-color: #333;
          color: #fff;
          border: none;
          cursor: pointer;
          font-size: 14px;
          text-transform: uppercase;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #B88E2F;
          }
        }
      }
    }
  
    &__bottom {
      text-align: left;
      padding: 20px;
      border-top: 1px solid #e0e0e0;
      margin-top: 20px;
      p {
        font-size: 14px;
        color: #666;
        margin-left: 175px;
      }
    }
  }
  