.navbar {
    background-color: #fff;
    height: 100px;
    .container {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .logo img {
        width: 50px;
    }
    .logo h1{
        display: inline;
        margin-left: 10px;
    }
    .nav__links ul {
        display: flex;
        gap: 40px;
        list-style: none;
    }
    .nav__links a {
        text-decoration: none;
        color: #333;
        font-size: 15px;
        font-weight: 500;
    }
    .nav__icons a {
        margin-left: 20px;
        font-size: 13px;
    }
}
