.products{
    margin-bottom: 60px;
    h2{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .products__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;
        .products__card{
            background: #F4F5F7;
            position: relative;
            cursor: pointer;
            .products__img{
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                p{
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                    background: #E97171;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    transition: .5s;
                }
            }
            .products__text{
                padding: 20px;
                .products__brand{
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
                .products__title{
                    font-weight: 500;
                    color: #898989;
                    margin-bottom: 8px;
                }
                .products__price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    del{
                        color: #B0B0B0;
                    }
                }
            }
            .products__share{
                position: absolute;
                width: 100%;
                height: 100%;
                background: #3a3a3aa8;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .5s;
                button{
                    padding: 15px 55px;
                    background: #fff;
                    color: #E89F71;
                    font-weight: 600;
                }
                .products__item{
                    display: flex;
                    gap: 20px;
                    margin-top: 24px;
                    a{
                        color: #fff;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }
        }
        .products__card:hover .products__share{
            opacity: 1;
        }
        .products__card:hover .products__img p{
            display: none;
        }
    }
    .products__btn{
        text-align: center;
        margin-top: 32px;
        button{
            border: 1px solid #B88E2F;
            background: transparent;
            padding: 12px 78px;
            color: #B88E2F;
            font-weight: 600;
        }
    }
}