#trophy{
    margin-top: 85px;
    height: 270px;
    background-color: #FAF3EA;
    display: flex;
    align-items: center;
    .trophy__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 55px;
        .trophy__card{
            display: flex;
            align-items: center;
            gap: 10px;
            div{
                .trophy__title{
                    font-size: 25px;
                    font-weight: 600;
                    color: #242424;
                    margin-bottom: 2px;
                }
                .trophy__subtitle{
                    font-size: 20px;
                    font-weight: 500;
                    color: #898989;
                }
            }
        }
    }
}